@import '../../../scss/mixins';
@import '../../../scss/variables';

.main-container{

    .main-header-container{
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 60px;
        border-bottom: 1px solid $colors-light-dark;
        position: relative;
        
        .header-challenge-collapse{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 10px;
            @include pc-only{
                display: none;
            }
            .header-collapse-btn{
                svg{ 
                    font-size: 1.5rem !important;
                    color: $colors-white; font-size: 1.1rem; 
                    transition: .3s;
                    transform : rotate(180deg);
                }
                
            }
            .header-collapse-title{
                margin: 10px;
                color:$colors-white;
                font-size: .9rem;
            }
            &.collapsed{
                svg{
                    transition: .3s;
                    transform : rotate(360deg);
                }
            }
        }

        .header-challeges-container{
            display: flex;    
            @include pc-only{
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-left: 20px;
            }
            @include tab{
                flex-direction: column;
                justify-content: flex-start;
                margin-left: 15px;
                position: absolute;
                top: 100%;
                border-radius: 5px;
                height: 250%;
                overflow-y: auto;
                transition: .3s;
                background-color: $colors-light-dark;
                
                &.collapsed{
                    transition: .3s;
                    height: 0%;
                }
            }
            .header-challenges-wrapper{
                display: flex;
                @include pc-only{
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    height: 100%;
                }
                @include tab{
                    flex-direction: column;
                    flex-grow: 1;
                    padding: 5px 0;
                }

                .header-challenge-item{
                    display: flex;
                    flex-grow: 1;
                    flex-shrink: 1;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;

                    @include pc-only{
                        margin-right: 15px;
                    }
                    @include tab{
                        margin : 5px 10px;
                    }
                    &.active{
                        position: relative;
                        .header-challenge-title{
                            color:$colors-green;
                        }
                        &::after{
                            width: 100%;
                            position: absolute;
                            content:"";
                            height: 2px;
                            background-color: $colors-green;
                            bottom: 0;
                            left: 0;
                        }
                    }
                    .header-challenge-title{
                        font-size: .9rem;
                        color : $colors-white;
                        min-height: max-content;
                    }
                }
            }
        }

        .header-user-info{
            display: flex;
            flex-direction: row;            
            align-items: center;
            justify-content: flex-start;
            margin-left: auto;
            margin-right: 20px;
            .avatar{
                flex: 0 1 auto;
                img{ 
                    border-radius: 50%;
                    width: 38px;
                    height: 38px;
                }
                .avatar-placeholder{
                    width: 38px;
                    height: 38px;
                    background-color: $colors-material-blue;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{ color:$colors-white; }
                }
            }
            .login{
                margin-left: 10px;
                font-size: .9rem;
                color: $colors-white;
                @include pc-only{
                    display: flex;
                }
                @include tab{
                    display: none;
                }
            }
        }
    }
}