
// COLORS
$colors-green : #28AE60;
$colors-green-light: #8edbae;
$colors-white : #fff;
$colors-blue : #2196f3;
$colors-yellow : #f1c40f;
$colors-purple : #9c27b0;
$colors-material-blue : #3f51b5;
$colors-orange : #ff9800;
$colors-red : #f44336;
$colors-light-gray : #afafaf;

$colors-dark-alpha : #0c0c0dbd;
$colors-dark : #282c34;
$colors-light-dark : #323947;
$colors-text-sub : #afafaf;


// NAVBAR
$navbar-height : 60px;
$navbar-width : 75px;

// COMMON
$pc-max-width: 1600px;
